* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 512px;
}

#site_header {
  padding: 10px;
  border-bottom: 2px solid #000;
}


#site_main {
  padding: 8px 8px 16px 16px;
  min-height: 500px;
}

.Contenitore {
  border: 2px solid #000;
  padding: 8px;
  margin-bottom: 1rem;
  min-height: 180px;
}

#site_footer {
  border-top: 2px solid #000;
  padding: 8px;
}